version: '3.8'

services:
  server:
    build: ./server
    container_name: avatar_server
    ports:
      - "3001:3001"
    volumes:
     - ./server:/app
     - /app/node_modules
  
  client:
    build: ./client
    container_name: avatar_client
    depends_on:
      - serviceName
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true
    tty: true